<alert type = "info">App Component</alert>

<button class="btn-group btn-group-toggle btn-primary" (click)="upper()" >
    UPPER
</button> 
<br>
<br>
<button class="btn-group btn-group-toggle btn-primary" (click)="lower()" >
    LOWER
</button>
<br><br>
<alert type="success" >{{str}}</alert>












<!--alert type = "success">
    String return by fun using String Interpolation : {{fun()}}
</alert-->



<!--First Component-->
<!--app-first></app-first-->

<!--Second Component-->
<!--app-second></app-second-->

